body{
    background-color:#EFF5F5;
}



header{
    margin: 0px;
    padding:0px;
    display: flex;
    flex-direction: column;
}

.navbar{
    width: 100%;
height: 63px;
background: #00425A;
margin:0px;

}

ul.nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:20px;
    

}
li.contenido{
    display: flex;
  justify-content: space-around;
    color: #FC7300;
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
list-style: none;
}

a:link{
    color:#FC7300;
}
a:visited{
    color: #181823;
}

li.botoncontacto{
    display: flex;
    color: #00425A;
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
width: 189px;
height: 37px;
border-radius: 8px;
background:#EFF5F5;
align-items: center;
justify-content: center;
margin-right: 20px;
}

main{
    
    height: 1600px;
  
}

h1{
    color: #FC7300;
font-family: Poppins;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-align: center;
}

.imagen-nena{
    display: flex;
    flex-direction: row-reverse;
    gap: 100px;
    margin-right: 20px;
}

.quienes-somos{
    color: #FC7300;
font-family: Poppins;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top:0px;
margin-bottom: 0px;
margin-left: 20px;
padding-top: 20px;
}

p{
    color: #181823;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 20px;

}

.imagen-colegio{
    display: flex;
    gap: 50px;
    margin-left: 20px;
    
}
.elegirnos{
    color: #FC7300;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 20px;
    padding-right: 20px;
}

h2.propuesta{
    color: #FC7300;
font-family: Poppins;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-top: 20px;
padding-left: 20px;
margin-bottom: 0px;
}

ul.contenido-propuesta{
    color: #181823;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.imagen-utn{
    display: flex;
    gap:100px;
    flex-direction: row-reverse;
    margin-right: 20px;
}

h2.noticias{
    color: #FC7300;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 0px;

}

.footer{
    display: flex;
    background-color:#00425A;
justify-content: space-between;
align-items: center;
height: 70px;
padding-left: 20px;
padding-right: 20px;
margin-top: 50px;

 }

 .facebook{
    width: 36px;
height: 36px;
 }

 .instagram{
    width: 36px;
height: 36px;
 }
 .nav-footer{
    
    color: #EFF5F5;
}

footer>div>h3{
    text-align: center;
    color: #EFF5F5;
font-family: Poppins;
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: normal;

}

 .nav-footer>ul>li{
 
    color: #EFF5F5;
    text-align: right;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    list-style: none;
 }

 @media (max-width:768px) {
    body{
        background-color: #00425A;
        
    }

    p{
        color: #EFF5F5;
    }
    ul.contenido-propuesta{
        color: #EFF5F5;
    }

    
 }







    
  
